.card {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: aqua;
    width: 250px;
}

.root {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}